body {
  background-color: rgb(60, 10, 56);
}

.jumbotron {
  background-color: rgb(247, 247, 247);
}

.btn {
  border-style: dashed;
  border-color: black;
  margin: 2px;
  background-color: purple;
  color: white;
}

#create-account-button {
  display: block;
  margin: auto;
  margin-left: 159px;
  margin-bottom: -30px;
  margin-top: 20px;
}

#new-account {
  display: block;
  max-width: 500px;
  margin: auto;
  margin-left: 0px;
  margin-bottom: 33px;
}

.form-one {
  margin-left: 58px;
}

.btn:hover {
  background-color: rgb(211, 129, 236);
}

ul {
  list-style: none;
}

h1, h3, h4 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

 #initial-deposit {
  max-width: 178px;
  margin-left: 21px
}

 #last-name {
   margin-left: 1px;

 }
